@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    width: 18%;
}

.card img {
    border-radius: 10px;
    width: 100%;
}

.item p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

@media (max-width:375px) {
    .card {
        width: 80%;
    }
}